<footer>
  <nav class="social">
    <ul class="clearfix">
      <li class="twitter"><a target="_blank" href="http://twitter.com/dothisok">Twitter</a></li>
      <li class="facebook"><a target="_blank"  href="http://www.facebook.com/dothisok">Facebook</a></li>
    </ul>
  </nav>
  <h4 class="fluxx"><a href="#">Presented by Fluxx</a></h4>
</footer>
