<footer>
  <nav class="social">
    <ul class="clearfix">
      <li class="twitter"><a href="#">Twitter</a></li>
      <li class="facebook"><a href="#">Facebook</a></li>
    </ul>
  </nav>
  <h4 class="fluxx"><a href="#">Presented by Fluxx</a></h4>
</footer>
