html {
  height: 100%;
}
body {
  background-color: #111;
  padding: 0;
  &.signedin {
    .contentContainer {
      padding-top: 30px;
    }
  }
}
.body-container {
  height: 100%;
  min-height: 100%;
}
.contentContainer {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}


h1,h2,h3,h4,h5,h6 {
  margin: 10px 0;
  font-weight: normal;
}

h1.logo {
  position: absolute;
  background: url(dothisokay.png) no-repeat top center;
  background-size: contain;
  width: 300px;
  height: 300px;
  text-indent: -9999px;
  margin: 30px;
  @media screen and (max-width: 900px) and (min-width: 600px) {
    width: 200px;
    height: 200px;
  }
  @media screen and (max-width: 600px) {
    height: 150px;
    width: 150px;
  }
}

#user_nav {
  position: fixed;
  top: 0;
  width: 94%;
  background: rgba(255,255,255, 0.9);
  z-index: 999;
  height: 40px;
  padding: 0 3%;
  text-align: left;
  .what-to-do {
    list-style: none;
    margin: 0;
    padding: 10px 0 0;
    li {
      display: inline-block;
      color: #333;
      &:after {
        content: ' | ';
      }
      &:last-child {
        &:after {
          content: '';
        }
      }
      a {
        color: inherit;
        font-size: 13px;
      }
      @media screen and (max-width: 400px) {
        font-size: 11px;
        a {
          font-size: inherit;
        }
      }

    }
  }
}

/* Forms */
.admin-format {
  margin: 15px auto;
  background: #efefef;
  padding: 15px;
}
.sessions-new {
  .contentContainer {
    h2 {
      margin: 2px 0;
    }
    width: 400px;
    border-radius: 6px;
    @extend .admin-format;
  }
}

.events-new, .events-edit {
  .contentContainer {
    width: 50%;
    @media screen and (max-width: 1024px) {
      width: 90%;
    }
    @extend .admin-format;
    .field {
      float: left;
      width: 50%;
      @media screen and (max-width: 600px) {
        float: none;
        width: 100%;
      }
      label {
        margin-left: 10%;
      }
      input, textarea {
        margin-left: 10%;
        width: 80%;
      }
      textarea {
        min-height: 100px;
      }
    }
    input.btn[type="submit"] {
      width: 33%;
      position: relative;
      margin-left: 33%;
      margin-top: 20px;
      height: 35px;
      line-height: 35px;
      @media screen and (max-width: 600px) {
      }
    }
  }
}


footer {
  width: 213px;
  margin: 0 auto;
  padding: 50px 0 50px;
  h4.fluxx {
    width: 213px;
    a {
      background: url(fluxx.png) no-repeat 0 0;
      height: 101px;
      display: block;
      text-indent: -9999px;
    }
  }
  .social {
    padding: 25px 0 0;
    width: 130px;
    margin: 0 auto;
    border-top: 1px solid #282828;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        float: left;
        padding: 0 10px;
        a {
          display: block;
          height: 45px;
          width: 45px;
          text-indent: -9999px;
        }
        &.facebook {
          a {
            background: url(facebookbtn.png) no-repeat top center;
          }
        }
        &.twitter {
          a {
            background: url(twitterbtn.png) no-repeat top center;
          }
        }
      }
    }
  }
}

.events-show {
  footer {
    h4.fluxx {
      a {
        background: url(sfluxx.png) no-repeat 0 0;
      }
    }
    .social {
      border-top: 1px solid #5b5b5b;
      ul {
        li.twitter {
          a {
            background: url(stwitterbtn.png) no-repeat top center;
          }
        }
        li.facebook {
          a {
            background: url(sfacebookbtn.png) no-repeat top center;
          }
        }
      }
    }
  }
}

/* Settings */
